@import "Compass";



// Functions
// ==========================================================================

// Calculate em values
@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}



// Mixins
// ==========================================================================

// Named media queries

@mixin at-least($width, $old-ie: "false") {
  @media screen and (min-width: $width) {
    @content;
  }
 
  @if $old-ie == "true" {
    .lt-ie9 & {
      @content;
    }
  }
}
 
@mixin until($width, $old-ie: "false") {
  @media screen and (max-width: $width) {
    @content;
  }
 
  @if $old-ie == "true" {
    .lt-ie9 & {
      @content;
    }
  }
}



// Variables
// ==========================================================================

// Media query breakpoints
$bp-small:  em(650px);
$bp-medium: em(1024px);
$bp-large:  em(1280px);

// Colors
$color-dark:  #212621;
$color-white: #f3ffff;
$color-blue:  #2e7499;
$color-green: #21a642;
$color-red:   #cc2929;

// Fonts
$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;

// Sizing based on http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
$font-size-giga:      em(72px);
$font-size-mega:      em(60px);
$font-size-kilo:      em(48px);
$font-size-alpha:     em(36px);
$font-size-beta:      em(24px);
$font-size-gamma:     em(21px);
$font-size-delta:     em(18px);
$font-size-epsilon:   em(16px);
$font-size-zeta:      em(14px);
$font-size-milli:     em(12px);



// Google Web Fonts
// ==========================================================================

%font-oswald {
  font-family: 'Oswald', sans-serif;
}
