// Imports
// ==========================================================================

@import "base";
@import "Compass/reset";



// Global
// ==========================================================================

html,
body {
  width: 100%;
}

html {
  font: 1em/1 $font-sans-serif;
  color: $color-white;
}

body {
  background: $color-dark;
}



// Font sizing
// ==========================================================================

h1, .alpha   { font-size: $font-size-alpha; }
h2, .beta    { font-size: $font-size-beta; }
h3, .gamma   { font-size: $font-size-gamma; }
h4, .delta   { font-size: $font-size-delta; }
h5, .epsilon { font-size: $font-size-epsilon; }
h6, .zeta    { font-size: $font-size-zeta; }

.giga { font-size: $font-size-giga; }
.mega { font-size: $font-size-mega; }
.kilo { font-size: $font-size-kilo; }

small, 
.milli { font-size: $font-size-milli; }



// Layout
// ==========================================================================

.page {
  padding: 1em;
}

.page__header {
  margin-bottom: 2em;

  .title {
    @extend %font-oswald;
    font-weight: 400;
    text-transform: uppercase;
  }
}



// Report
// ==========================================================================

.report__title {
  margin-bottom: 0.5em;
  color: rgba($color-white,0.25);
}

.report {
  display: inline-block;
  margin: 0 2em 2em 0;

  .data {
    @extend %font-oswald;
  }
}

.report__score {
  .data {
    font-size: em(144px);

    &:after {
      content: "";
      font-size: 35%;
    }

    &.up:after {
      content: "\25B2";
      color: $color-green;
    }

    &.down:after {
      content: "\25BC";
      color: $color-red;
    }
  }
}