// Imports
// ==========================================================================

@import "base";
@import "Compass/reset";



// Global
// ==========================================================================

html,
body {
  width: 100%;
}

html {
  font: 1em/1 $font-sans-serif;
  color: $color-white;
}

body {
  background: $color-dark;
}

* {
  @include box-sizing(border-box);
}



// Font sizing
// ==========================================================================

h1, .alpha   { font-size: $font-size-alpha; }
h2, .beta    { font-size: $font-size-beta; }
h3, .gamma   { font-size: $font-size-gamma; }
h4, .delta   { font-size: $font-size-delta; }
h5, .epsilon { font-size: $font-size-epsilon; }
h6, .zeta    { font-size: $font-size-zeta; }

.giga { font-size: $font-size-giga; }
.mega { font-size: $font-size-mega; }
.kilo { font-size: $font-size-kilo; }

small, 
.milli { font-size: $font-size-milli; }



// Layout
// ==========================================================================

.page {
  padding: 2em;
}

.page__header {
  margin-bottom: 2em;

  .title {
    @extend %font-oswald;
    font-weight: 400;
    text-transform: uppercase;
  }
}

hr {
  height: 1px;
  width: 100%;
  margin-bottom: 2em;
  border: 0;
  background: rgba($color-white,0.25);

  &.hidden {
    height: 0;
    margin: 0;
  }
}


// Report
// ==========================================================================

%legend {
  color: $color-white; 

  &:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: top;
  }
}

.report__title {
  position: relative;
  margin-bottom: 0.5em;
  color: rgba($color-white,0.35);

  a { color: rgba($color-white,0.35); }

  &.legend--css {
    @extend %legend;

    &:before { background: $color-blue; }
  }

  &.legend--js {
    @extend %legend;
    &:before { background: $color-green; }
  }

  &.legend--images {
    @extend %legend;
    &:before { background: $color-red; }
  }

  &.legend--other {
    @extend %legend;
    &:before { background: yellow; }
  }
}

.report {
  display: inline-block;
  margin: 0 2em 2em 0;

  .data {
    @extend %font-oswald;
  }
}

.report--breakdown {
  @extend .report;
  width: 100%;

  @include at-least($bp-small) {
    min-width: em(300px);
  }
}

.report__score {
  .data {
    font-size: em(144px);

    &:after {
      content: "";
      font-size: 35%;
    }

    &.up:after {
      content: "\25B2";
      color: $color-green;
    }

    &.down:after {
      content: "\25BC";
      color: $color-red;
    }
  }
}

%bar-graph__data {
  position: relative;
  display: inline-block;
}

.bar-graph__data--css,
.bar-graph__data--js,
.bar-graph__data--img,
.bar-graph__data--other {
  @extend %bar-graph__data;
  padding: 2em 0;
}

.bar-graph__data--css {
  background: $color-blue;
}

.bar-graph__data--js {
  background: $color-green;
}

.bar-graph__data--img {
  background: $color-red;
}

.bar-graph__data--other {
  background: yellow;
}

.report__legend {
  & > li {
    @extend %font-oswald;
    display: inline-block;
    margin: 0 1em 0 0;
    font-weight: 300;

    &:before {
      content: "";
      display: inline-block;
      height: 1em;
      width: 1em;
      margin-right: 0.25em;
      background: $color-blue;
    }
  }

  strong {
    display: inline-block;
    margin-right: 0.25em;
    font-weight: 400;
    text-transform: uppercase;
  }
}

#line-graph{
  width:100%;
  height:300px;
  border: 1px solid #000;
  position:relative;
  .point {
    position: absolute;
    svg {
      position: absolute;
      left:-5px;
      top:-5px;
    }
  }

  & > svg {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0px;
  }
}
