// Imports
// ==========================================================================

@import "base";
@import "Compass/reset";
@import "partials/compare";



// Global
// ==========================================================================

html,
body {
  width: 100%;
}

html {
  font: 1em/1 $font-sans-serif;
  color: $color-white;
}

body {
  background: $color-dark;
}

* {
  @include box-sizing(border-box);
}

.col-50 {
  margin-bottom: 2em;
  
  @include at-least($bp-small) {
    width: 48%;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1%;
    vertical-align: top;
  }
}


// Font sizing
// ==========================================================================

h1, .alpha   { font-size: $font-size-alpha; }
h2, .beta    { font-size: $font-size-beta; }
h3, .gamma   { font-size: $font-size-gamma; }
h4, .delta   { font-size: $font-size-delta; }
h5, .epsilon { font-size: $font-size-epsilon; }
h6, .zeta    { font-size: $font-size-zeta; }

.giga { font-size: $font-size-giga; }
.mega { font-size: $font-size-mega; }
.kilo { font-size: $font-size-kilo; }

small, 
.milli { font-size: $font-size-milli; }



// Layout
// ==========================================================================

.page {
  padding: 2em;
}

.page__header {
  margin-bottom: 2em;
}

.page-title {
  @extend %font-oswald;
  font-size: $font-size-delta;
  font-weight: 400;
  text-transform: uppercase;
}

hr {
  height: 1px;
  width: 100%;
  margin-bottom: 2em;
  border: 0;
  background: $color-light;

  &.hidden {
    height: 0;
    margin: 0;
  }
}

.page__section {
  @include mq-widescreen("true") {
    width: 48%;
    display: inline-block;
    margin-right: 1%;
    vertical-align: top;

    & + .page__section {
      margin: 0 0 0 1%;
    }
  }
}



// Nav
// ==========================================================================

.site-nav {
  display: inline-block;
  position: relative;
  margin-right: 0.5em;
  overflow: visible;
}

.site-nav__current {
  display: inline-block;
  padding: 0.5em;
  background: $color-light;
  color: $color-white;
  cursor: pointer;

  &:after {
    content: " \25BC";
    display: inline-block;
    margin-left: 0.75em;
    font-size: 50%;
    color: rgba($color-white,0.5);
    vertical-align: middle;
  }
}

.site-nav__list {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 100;

  &.open {
    display: block;
  }
}

.site-nav__link {
  display: inline-block;
  padding: 0.5em;
  background: $color-med;
  font-size: $font-size-milli;
  color: $color-white;
  text-decoration: none;

  &:hover {
    background: $color-light;
  }
}



// Reports
// ==========================================================================

%legend {
  color: $color-white; 

  &:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: top;
  }
}

.report__title {
  position: relative;
  margin-bottom: 0.25em;
  font-size: $font-size-zeta;
  color: $color-light;

  a { color: $color-light; }

  &.legend--css {
    @extend %legend;

    &:before { background: $color-blue; }
  }

  &.legend--js {
    @extend %legend;
    &:before { background: $color-green; }
  }

  &.legend--images {
    @extend %legend;
    &:before { background: $color-red; }
  }

  &.legend--other {
    @extend %legend;
    &:before { background: yellow; }
  }
}

.report {
  display: inline-block;
  margin: 0 2em 2em 0;

  .data {
    @extend %font-oswald;
  }
}

.report--wide {
  @extend .report;
  width: 100%;
}

.report__score {
  .data {
    font-size: em(144px);

    &:after {
      content: "";
      font-size: 35%;
    }

    &.up:after {
      content: "\25B2";
      color: $color-green;
    }

    &.down:after {
      content: "\25BC";
      color: $color-red;
    }
  }
}

%bar-graph__data {
  position: relative;
  display: inline-block;
}

.bar-graph__data--css,
.bar-graph__data--js,
.bar-graph__data--img,
.bar-graph__data--other {
  @extend %bar-graph__data;
  padding: 2em 0;
}

.bar-graph__data--css {
  background: $color-blue;
}

.bar-graph__data--js {
  background: $color-green;
}

.bar-graph__data--img {
  background: $color-red;
}

.bar-graph__data--other {
  background: yellow;
}

.report__legend {
  & > li {
    @extend %font-oswald;
    display: inline-block;
    margin: 0 1em 0 0;
    font-weight: 300;

    &:before {
      content: "";
      display: inline-block;
      height: 1em;
      width: 1em;
      margin-right: 0.25em;
      background: $color-blue;
    }
  }

  strong {
    display: inline-block;
    margin-right: 0.25em;
    font-weight: 400;
    text-transform: uppercase;
  }
}



// Graph
// ==========================================================================

#line-graph {
  width:100%;
  height:300px;
  position: relative;
  margin-bottom: 1em;

  .point {
    position: absolute;
    cursor: pointer;
    z-index:10;

    svg {
      position: absolute;
      left:-5px;
      top:-5px;
      z-index:5;
    }
  }

  & > svg {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0px;
  }

  .talk-bubble{
    position: absolute;
    display:none;
    padding: 10px;
    background:#fff;
    color: $color-blue;
    z-index: 15;
  }
}

.talk-bubble {
  .value {
    @extend %font-oswald;
    font-weight: 700;
  }

  .date {
    font-size: $font-size-zeta;
  }
}

.graph-switches {
  & > button {
    @extend %font-oswald;
    display: inline-block;
    margin: 0 0.5em 0 0;
    padding: 0.5em 1em;
    background: $color-med;
    border: 0;
    font-size: $font-size-milli;
    color: rgba($color-white,0.5);
    cursor: pointer;
    text-transform: uppercase;
    @include appearance(none);

    &.active,
    &:hover {
      background: $color-light;
      color: $color-white;
    }
  }
}