{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/pikaday.css">
{% endblock %}

{% block content %}
  <div class="page__body">
    <div class="compare">
      <div class="compare__header">
        <h2>Compare data</h2>
        <div class="compare__range col-50">
          <h5 class="report__title">Select range A</h5>
          <input placeholder="Start" class="datepicker" id="a-in-date" type="text">
          <input placeholder="End" class="datepicker" id="a-out-date" type="text">
        </div>
        <div class="compare__range col-50">
          <h5 class="report__title">Select range B</h5>
          <input placeholder="Start" class="datepicker" type="text">
          <input placeholder="End" class="datepicker" type="text">
        </div>
      </div>
      <div class="compare__reports">
        <div class="col-50">
          <h5 class="report__title">Compare A</h5>
        </div>
        <div class="col-50">
          <h5 class="report__title">Compare B</h5>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="/scripts/lib/pikaday.js"></script>
  <script src="/scripts/lib/pikaday.jquery.js"></script>
  <script src="/scripts/control/baseUI.js"></script>
  <script src="/scripts/control/comparer.js"></script>
{% endblock %}