{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/pikaday.css">
{% endblock %}

{% block content %}
  <div class="page__body">
    <div class="compare">
      <div class="compare__header">
        <h2>Compare data</h2>
        <div class="compare__range col-50">
          <input value="Range 1 Date 1" class="datepicker" id="a-in-date" type="text">
          <input value="Range 1 Date 2" class="datepicker" id="a-out-date" type="text">
        </div>
        <div class="compare__range col-50">
          <input value="Range 2 Date 1" class="datepicker" type="text">
          <input value="Range 2 Date 2" class="datepicker" type="text">
          <button type="button">Compare</button>
        </div>
      </div>
      <div class="compare__reports">
        <div class="col-50">
          <h5 class="report__title">Compare 1</h5>
        </div>
        <div class="col-50">
          <h5 class="report__title">Compare 2</h5>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="/scripts/lib/pikaday.js"></script>
  <script src="/scripts/lib/pikaday.jquery.js"></script>
  <script src="/scripts/control/baseUI.js"></script>
  <script src="/scripts/control/comparer.js"></script>
{% endblock %}