{% extends "base.html" %}


{% block content %}
  <div class="page__header">
    <h4 class="title">dwolla.com - {{ date }}</h4>
  </div>
  <div class="page__body">
    <div class="report">
      <h5 class="report__title">PageSpeed score</h5>
      <div class="report__score">
        <span class="data down">{{ data.score }}</span>
      </div>
    </div>
    <div class="report">
      <h5 class="report__title">Load time</h5>
      <div class="report__load-time">
        <span class="data kilo">{{ data.loadTime }} ms</span>
      </div>
    </div>
    <div class="report">
      <h5 class="report__title">Render time</h5>
      <div class="report__render-time">
        <span class="data kilo">{{ data.renderTime }} ms</span>
      </div>
    </div>
  </div>
{% endblock %}