.compare {

}

.compare__header {
  margin-bottom: 3em;
  //text-align: center;

  h2 {
    @extend %font-oswald;
    margin-bottom: 0.5em;
    font-size: $font-size-kilo;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.compare__range {
  input[type="text"] {
    @extend %font-oswald;
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    padding: 0.5em 1em;
    border: 0;
    font-size: $font-size-delta;
    visibility: visible;

    @include at-least($bp-large) {
      margin-bottom: 0;
    }
  }
}