/* line 97, ../../../sass/_base.scss */
.button,
.graph-switches > button, .compare__header h2, .compare__range input[type="text"], .page-title, .report .data, .report--wide .data, .report__legend > li, .talk-bubble .value {
  font-family: 'Oswald', sans-serif;
}

/* line 106, ../../../sass/_base.scss */
.button,
.graph-switches > button {
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 0.5em 1em;
  background: #404940;
  border: 0;
  font-size: 1em;
  color: rgba(243, 255, 255, 0.5);
  cursor: pointer;
  text-transform: uppercase;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 120, ../../../sass/_base.scss */
.button.active, .button:hover,
.graph-switches > button.active,
.graph-switches > button:hover {
  background: #5e6c5e;
  color: #f3ffff;
}

/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../../sass/partials/_compare.scss */
.compare__header {
  margin-bottom: 3em;
}
/* line 9, ../../../sass/partials/_compare.scss */
.compare__header h2 {
  margin-bottom: 0.5em;
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 19, ../../../sass/partials/_compare.scss */
.compare__range input[type="text"] {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  padding: 0.5em 1em;
  border: 0;
  font-size: 1.125em;
  visibility: visible;
}
@media screen and (min-width: 80em) {
  /* line 19, ../../../sass/partials/_compare.scss */
  .compare__range input[type="text"] {
    margin-bottom: 0;
  }
}

/* line 13, ../../../sass/styles.scss */
html,
body {
  width: 100%;
}

/* line 18, ../../../sass/styles.scss */
html {
  font: 1em/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f3ffff;
}

/* line 23, ../../../sass/styles.scss */
body {
  background: #212621;
}

/* line 27, ../../../sass/styles.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../../../sass/styles.scss */
.col-50 {
  margin-bottom: 2em;
}
@media screen and (min-width: 40.625em) {
  /* line 31, ../../../sass/styles.scss */
  .col-50 {
    width: 48%;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1%;
    vertical-align: top;
  }
}

/* line 47, ../../../sass/styles.scss */
h1, .alpha {
  font-size: 2.25em;
}

/* line 48, ../../../sass/styles.scss */
h2, .beta {
  font-size: 1.5em;
}

/* line 49, ../../../sass/styles.scss */
h3, .gamma {
  font-size: 1.3125em;
}

/* line 50, ../../../sass/styles.scss */
h4, .delta {
  font-size: 1.125em;
}

/* line 51, ../../../sass/styles.scss */
h5, .epsilon {
  font-size: 1em;
}

/* line 52, ../../../sass/styles.scss */
h6, .zeta {
  font-size: 0.875em;
}

/* line 54, ../../../sass/styles.scss */
.giga {
  font-size: 4.5em;
}

/* line 55, ../../../sass/styles.scss */
.mega {
  font-size: 3.75em;
}

/* line 56, ../../../sass/styles.scss */
.kilo {
  font-size: 3em;
}

/* line 58, ../../../sass/styles.scss */
small,
.milli {
  font-size: 0.75em;
}

/* line 66, ../../../sass/styles.scss */
.page {
  padding: 2em;
}

/* line 70, ../../../sass/styles.scss */
.page__header {
  margin-bottom: 2em;
}

/* line 74, ../../../sass/styles.scss */
.page-title {
  font-size: 1.125em;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 81, ../../../sass/styles.scss */
hr {
  height: 1px;
  width: 100%;
  margin-bottom: 2em;
  border: 0;
  background: #5e6c5e;
}
/* line 88, ../../../sass/styles.scss */
hr.hidden {
  height: 0;
  margin: 0;
}

@media screen and (min-aspect-ratio: 16 / 9), screen and (min-aspect-ratio: 16 / 10) {
  /* line 94, ../../../sass/styles.scss */
  .page__section {
    width: 48%;
    display: inline-block;
    margin-right: 1%;
    vertical-align: top;
  }
  /* line 101, ../../../sass/styles.scss */
  .page__section + .page__section {
    margin: 0 0 0 1%;
  }
}
/* line 50, ../../../sass/_base.scss */
.lt-ie9 .page__section {
  width: 48%;
  display: inline-block;
  margin-right: 1%;
  vertical-align: top;
}
/* line 101, ../../../sass/styles.scss */
.lt-ie9 .page__section + .page__section {
  margin: 0 0 0 1%;
}

/* line 112, ../../../sass/styles.scss */
.site-nav {
  display: inline-block;
  position: relative;
  margin-right: 0.5em;
  overflow: visible;
}

/* line 119, ../../../sass/styles.scss */
.site-nav__current {
  display: inline-block;
  padding: 0.5em;
  background: #5e6c5e;
  color: #f3ffff;
  cursor: pointer;
}
/* line 126, ../../../sass/styles.scss */
.site-nav__current:after {
  content: " \25BC";
  display: inline-block;
  margin-left: 0.75em;
  font-size: 50%;
  color: rgba(243, 255, 255, 0.5);
  vertical-align: middle;
}

/* line 136, ../../../sass/styles.scss */
.site-nav__list {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 100;
}
/* line 142, ../../../sass/styles.scss */
.site-nav__list.open {
  display: block;
}

/* line 147, ../../../sass/styles.scss */
.site-nav__link {
  display: inline-block;
  padding: 0.5em;
  background: #404940;
  font-size: 0.75em;
  color: #f3ffff;
  text-decoration: none;
}
/* line 155, ../../../sass/styles.scss */
.site-nav__link:hover {
  background: #5e6c5e;
}

/* line 165, ../../../sass/styles.scss */
.report__title.legend--css, .report__title.legend--js, .report__title.legend--images, .report__title.legend--other {
  color: #f3ffff;
}
/* line 168, ../../../sass/styles.scss */
.report__title.legend--css:before, .report__title.legend--js:before, .report__title.legend--images:before, .report__title.legend--other:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: top;
}

/* line 178, ../../../sass/styles.scss */
.report__title {
  position: relative;
  margin-bottom: 0.25em;
  font-size: 0.875em;
  color: #5e6c5e;
}
/* line 184, ../../../sass/styles.scss */
.report__title a {
  color: #5e6c5e;
}
/* line 189, ../../../sass/styles.scss */
.report__title.legend--css:before {
  background: #2e7499;
}
/* line 194, ../../../sass/styles.scss */
.report__title.legend--js:before {
  background: #21a642;
}
/* line 199, ../../../sass/styles.scss */
.report__title.legend--images:before {
  background: #cc2929;
}
/* line 204, ../../../sass/styles.scss */
.report__title.legend--other:before {
  background: yellow;
}

/* line 208, ../../../sass/styles.scss */
.report, .report--wide {
  display: inline-block;
  margin: 0 2em 2em 0;
}

/* line 217, ../../../sass/styles.scss */
.report--wide {
  width: 100%;
}

/* line 223, ../../../sass/styles.scss */
.report__score .data {
  font-size: 144px;
}
/* line 226, ../../../sass/styles.scss */
.report__score .data:after {
  content: "";
  font-size: 35%;
}
/* line 231, ../../../sass/styles.scss */
.report__score .data.up:after {
  content: "\25B2";
  color: #21a642;
}
/* line 236, ../../../sass/styles.scss */
.report__score .data.down:after {
  content: "\25BC";
  color: #cc2929;
}

/* line 243, ../../../sass/styles.scss */
.bar-graph__data--css,
.bar-graph__data--js,
.bar-graph__data--img,
.bar-graph__data--other {
  position: relative;
  display: inline-block;
}

/* line 248, ../../../sass/styles.scss */
.bar-graph__data--css,
.bar-graph__data--js,
.bar-graph__data--img,
.bar-graph__data--other {
  padding: 2em 0;
}

/* line 256, ../../../sass/styles.scss */
.bar-graph__data--css {
  background: #2e7499;
}

/* line 260, ../../../sass/styles.scss */
.bar-graph__data--js {
  background: #21a642;
}

/* line 264, ../../../sass/styles.scss */
.bar-graph__data--img {
  background: #cc2929;
}

/* line 268, ../../../sass/styles.scss */
.bar-graph__data--other {
  background: yellow;
}

/* line 273, ../../../sass/styles.scss */
.report__legend > li {
  display: inline-block;
  margin: 0 1em 0 0;
  font-weight: 300;
}
/* line 279, ../../../sass/styles.scss */
.report__legend > li:before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 0.25em;
  background: #2e7499;
}
/* line 289, ../../../sass/styles.scss */
.report__legend strong {
  display: inline-block;
  margin-right: 0.25em;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 302, ../../../sass/styles.scss */
#line-graph {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 1em;
}
/* line 308, ../../../sass/styles.scss */
#line-graph .point {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
/* line 313, ../../../sass/styles.scss */
#line-graph .point svg {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 5;
}
/* line 321, ../../../sass/styles.scss */
#line-graph > svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0px;
}
/* line 329, ../../../sass/styles.scss */
#line-graph .talk-bubble {
  position: absolute;
  display: none;
  padding: 10px;
  background: #fff;
  color: #2e7499;
  z-index: 15;
}

/* line 340, ../../../sass/styles.scss */
.talk-bubble .value {
  font-weight: 700;
}
/* line 345, ../../../sass/styles.scss */
.talk-bubble .date {
  font-size: 0.875em;
}

/* line 351, ../../../sass/styles.scss */
.graph-switches > button {
  font-size: 0.75em;
}
