/* line 81, ../../../sass/_base.scss */
.page__header .title, .report__score .data {
  font-family: 'Oswald', sans-serif;
}

/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/Compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../../../sass/styles.scss */
html,
body {
  width: 100%;
}

/* line 17, ../../../sass/styles.scss */
html {
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fafafa;
}

/* line 22, ../../../sass/styles.scss */
body {
  background: #292b2b;
}

/* line 31, ../../../sass/styles.scss */
h1, .alpha {
  font-size: 2.25em;
}

/* line 32, ../../../sass/styles.scss */
h2, .beta {
  font-size: 1.5em;
}

/* line 33, ../../../sass/styles.scss */
h3, .gamma {
  font-size: 1.3125em;
}

/* line 34, ../../../sass/styles.scss */
h4, .delta {
  font-size: 1.125em;
}

/* line 35, ../../../sass/styles.scss */
h5, .epsilon {
  font-size: 1em;
}

/* line 36, ../../../sass/styles.scss */
h6, .zeta {
  font-size: 0.875em;
}

/* line 38, ../../../sass/styles.scss */
.giga {
  font-size: 4.5em;
}

/* line 39, ../../../sass/styles.scss */
.mega {
  font-size: 3.75em;
}

/* line 40, ../../../sass/styles.scss */
.kilo {
  font-size: 3em;
}

/* line 42, ../../../sass/styles.scss */
small,
.milli {
  font-size: 0.75em;
}

/* line 50, ../../../sass/styles.scss */
.page {
  padding: 1em;
}

/* line 55, ../../../sass/styles.scss */
.page__header .title {
  font-weight: 300;
  text-transform: uppercase;
}

/* line 68, ../../../sass/styles.scss */
.report__score .data {
  font-size: 9em;
}
/* line 72, ../../../sass/styles.scss */
.report__score .data:after {
  content: "";
  font-size: 35%;
}
/* line 77, ../../../sass/styles.scss */
.report__score .data.up:after {
  content: "\25B2";
  color: #1ba84a;
}
/* line 82, ../../../sass/styles.scss */
.report__score .data.down:after {
  content: "\25BC";
  color: red;
}
